@font-face {
    font-family: Slabo;
    src: url(../assets/mFT0WbgBwKPR_Z4hGN2qgx8D1Q.woff2);
}

html {
    font-family: Lato, Helvetica, sans-serif !important;
    background-color: #EFEFEF !important;
    overflow-x: hidden;
}

body {
    color: #43464B !important;
    background-color: #EFEFEF !important;
}


/* Header */

.header {
    background-color: #242424;
    text-align: center;
}

a {
    color: inherit !important;
}

.site-title {
    font-size: 50px;
    color: #43464B;
}

.blue {
    color: #0193C7;
}

.site-subtitle {
    font-size: 22px;
    line-height: 1.5em;
    color: #0193C7;
}

.separator {
    width: 100%;
    min-height: 1px;
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.separator-inner {
    border-color: rgb(176, 181, 189);
    border-top-width: 2px;
    border-top-style: dashed !important;
    min-height: 1px;
    word-wrap: break-word;
}

ul {
    text-align: left;
    padding: 0;

}

li {
    font-size: 20px;
    padding-bottom: 6px;
    list-style-type: none;
    margin-bottom: 6px;
    padding-left: 2em;
}

.one {
    /* margin-left: -2em; */
    margin-right: 0.71428571em;
}

.two {
    margin-right: 10px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.btn-text {
    font-size: 2em;
    white-space: normal;
}

.block2 {
    font-size: 14px;
    display: block;
    opacity: 0.7;
    font-weight: normal;
    color: rgb(255, 255, 255);
}

.button {
    font-family: helvetica;
    color: rgb(255, 255, 255);
    background: rgb(1, 155, 199);
    box-shadow: inset 0 0 0 2px rgb(255 255 255 / 20%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    text-shadow: 1px 1px 0px rgb(0 0 0 / 20%);
    font-weight: bold;
    display: inline-block;
    text-align: center !important;
    text-decoration: none !important;
    width: calc(100% - 2em);
    margin-left: 1em;
}

.expect {
    background-color: #777777;
    color: whitesmoke !important;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
}

.em15 {
    font-size: 1.5em;
}

.bld {
    font-weight: bold;
}

.expect-title {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 2.2em !important;
}

.expect-subtitle {
    font-size: 1.5em;
}

.ebook {
    width: 300px;
}

.info {
    color: #0193C7;
    font-weight: 500;
    font-size: 1em;
}

.pad-0 {
    padding: 0 !important;
}

.cover {
    object-fit: cover;
}

.congrats {
    background-color: #019BC7;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: whitesmoke;
    text-align: center;
    font-size: 2em;
    font-family: Slabo;
}

.yellow {
    color: rgb(255, 227, 0);
    font-weight: 600;
}

.testimonials {
    background-color: #777777;
    font-size: 2em;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: whitesmoke;
    font-weight: 600;
}

.bold {
    font-weight: 700;
    font-family: Slabo;
}

.big {
    font-size: 4em;
}

.bigger {
    font-size: 2em;
}

@media(max-width: 900px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.2em;
    }

    .opt-in {
        width: 80%;
        font-size: 1.5em;
    }

    .btn-text {
        font-size: 1.5em;
    }
}

/* Footer */

.footer {
    background-color: #43464B;
    color: whitesmoke;
    text-align: center;
    padding: 70px 0;
    font-size: 1em;
}

.flex {
    display: flex;
}

.column {
    flex: 1;
    padding: 15px 30px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    text-align: center;
}

.about-image {
    max-width: 80%;
}

.flex {
    display: flex;
}

.column {
    flex: 1;
}

.container {
    text-align: center;
}


@media(max-width: 700px) {
    .header {
        text-align: center;
    }

    .header-logo {
        width: 60%;
        height: auto;
    }

    .flex {
        flex-direction: column;
    }
}